.header{
  background-color: #329A97;
  text-align: center;
  font-size:50px;
  font-family: "calibri";
  color:#F4FA3C;
  letter-spacing: 7px;
  text-decoration: underline;
}
#second{
  margin-top: 20px;
}

#second .left,.right{
  /* border:2px solid yellow; */
}
#second .middle{
  border:2px solid lightgrey;
  border-radius: 5px;
}

#second .middle .result{
  /* border:2px solid red; */
  height: 60px;
  width: 80%;
  margin: 5% 10%;
  /* border-radius: 10px; */
}
#second .middle .result input{
  width: 100%;
  height:100%;
  font-size: 30px;
  font-family: "calibri";
  border-radius: 10px;
  text-align: right;
  padding-right: 12px;
}
#second .middle .result input:focus {
  border-radius: 10px;
}
#second .middle .keypad{
  margin: 20px 15%;
  /* margin-left: 30%; */
  margin-bottom: 5%;
  /* margin-left: 10%; */
}
#ques{
  /* font-weight: 100; */
  /* text-align: right; */
  float:right;
}
#second .middle  .keypad  .spc_btn{
  /* border: 2px solid black; */
  margin: 5px 5px;
  background-color: #dfe1e5;
  /* max-width: 70%; */
  font-weight:bold;
}

#second .middle  .keypad  .num_btn{
  margin: 5px 10px;
  background-color:#f1f3f4;
  border-radius: 4px;
  text-align: center;
  padding-top: 8px;
}

#second .middle  .keypad  .equal_btn{
  margin: 5px 10px;
  /* background-color:#4285f4; */
  border-radius: 4px;
  /* background-color:#e8eaeb; */
  /* color:white; */
  font-weight:bold;
  /* text-align: center; */
  padding-top: 8px;
 }
#second .middle  .keypad  .spc_btn:hover{
  background-color:#d7d9dd;
}
#second .middle  .keypad  .num_btn:hover{
  background-color:#e8eaeb;
}


/* a{
  text-decoration: none;
} */
